doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,user-scalable=no ,initial-scale=1.0')
  title Juego IO3
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/game.css')
  link(rel='stylesheet' href='css/modal.css')
  // migracion fonts
  link(rel='stylesheet' href='css/bootstrap.min.css')
  
body
  // canvas#canvasGame(height='400px' width='800px')
  // Los Scripts Necesarios
  script(src='js/jquery-3.3.1.slim.min.js').
  script(src='js/popper.min.js').
  script(src='js/bootstrap.min.js').
  
  // Codigo del framework
  script(src='js/phaser.min.js').
  
  //Juego
  div#juego
    
  script(src='js/game/basic.js').
  script(src='js/game/pantallaCompleta.js').
  script(src='js/game/reajustar.js').
