doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,user-scalable=no ,initial-scale=1.0')
  title Juego IO3
  link(rel='stylesheet' href='css/style.css')
  link(rel='stylesheet' href='css/game.css')
  link(rel='stylesheet' href='css/modal.css')
  // Migrando iconos del juego
  link(rel='stylesheet' href='css/all.css')
  // migracion fonts
  link(rel='stylesheet' href='css/bootstrap.min.css')
  
body
  canvas#canvasGame(height='400px' width='800px')
  // Fondo
  script(href='js/jquery-3.3.1.slim.min.js').
  script(href='js/popper.min.js').
  script(href='js/bootstrap.min.js').
  script(defer='' href='js/all.js')
  
  script(src='js/game/pantallaCompleta.js')
  script(src='js/game/fondo.js')
  //script(src='js/game/inter.js')
