doctype html
head
  meta(charset='utf-8')
  meta(name='author' content='I03 - g8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  title Top Puntajes
  link(rel='stylesheet' href='css/bootstrap.min.css')
.container
  h1 Aqui se Mostraran los puntajes
script(href='js/jquery-3.3.1.slim.min.js').
script(href='js/popper.min.js').
script(href='js/bootstrap.min.js').
