html, body {
    overflow: hidden;
}

#texto3d{
  font-size: 2.5em;
  text-align: center;
  color: #fff;

  margin-bottom: 30px;
  text-shadow: 2px 2px #000,

             1px 1px hsla(202, 71%, 31%, 1),
             2px 2px hsla(202, 71%, 31%, 1),
             3px 3px hsla(202, 71%, 31%, 1),
             4px 4px hsla(202, 71%, 31%, 1),
             5px 5px hsla(202, 71%, 31%, 1),
             6px 6px hsla(202, 71%, 31%, 1),
             7px 7px hsla(202, 71%, 31%, 1),
             8px 8px hsla(202, 71%, 31%, 1),
             9px 9px hsla(202, 71%, 31%, 1),
             10px 10px hsla(202, 71%, 31%, 1),
             11px 11px hsla(202, 71%, 31%, 1);
  transform: rotate(-6deg);
}



#canvasGame{
    /* position: relative; */
    background-color: blue;
    width: 100%;
    height: auto;


    I realise this is an old post, but given that it hasn't been suggested it is worth mentioning that if you are writing for CSS3-compliant browsers, you can use calc:


    border: $line-color 1px solid;
    box-shadow: 0px 0px 20px black;
    /* width: $width; */
   /* background-color: #eee;
*/
    background-image: -webkit-linear-gradient(45deg, blue 25%,
      transparent 25%, transparent 75%, blue 75%, blue),
-webkit-linear-gradient(45deg, blue 25%, transparent 25%,
transparent 75%, blue 75%, blue);

    background-image: -moz-linear-gradient(45deg, blue 25%,
transparent 25%, transparent 75%, blue 75%, blue),
-moz-linear-gradient(45deg, blue 25%, transparent 25%,
transparent 75%, blue 75%, blue);

    background-image: linear-gradient(45deg, rgba(94, 111, 135, 1) 25%, transparent 0%,
transparent 0%, rgba(94, 111, 135, 1) 75%, rgba(94, 111, 135, 1)), linear-gradient(45deg, rgba(94, 111, 135, 1) 25%,
transparent 0%, transparent 0%, rgba(94, 111, 135, 1) 75%, rgba(94, 111, 135, 1));

    background-size:20px 20px;
    background-position:0 0, 10px 10px;

      background: #222;
 /* background: radial-gradient(#333, #111);
  */background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


button{
  background: none;
}
