html, body {
  height: 100%;
  width: 100%;
  background: #222;
  background: radial-gradient(#333, #111);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  color: #fff;
  font: 100%/1.5 sans-serif;
}
